* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content img {
  margin-top: 90px;
}

.card-content {
  text-align: center;
  margin-top: 80px;
}

.first-card {
  padding: 10px 40px;
  width: 380px;
  margin-bottom: 10px;
}

.first-card .card-title {
  padding-bottom: 20px;
}

.first-card input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 20px 5px 5px;
  font-size: 1em;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b4b4b4;
  font-size: 13px;
}

.first-card .card-text {
  padding-top: 10px;
}

.first-card .fb {
  color: #385185;
}

.first-card .fb i {
  margin-right: 10px;
}
.first-card .pw {
  color: #00376b;
  margin: 15px 0 0 0;
  font-size: 13px;
}

.first-card a {
  display: block;
}

.get-app p {
  margin-top: 15px;
}

.download-btn img {
  padding-top: 0;
  margin-top: 0;
}
/*
.footer-content {
  width: 80%;
  margin: auto;
}

.footer-ul {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.footer-ul li {
  font-size: 13px;
  list-style-type: none;
}
*/

#footer-section {
  padding: 50px 0;
}

.footer-contents {
  font-size: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  width: 60%;
  margin: auto;
}

.footer-contents a {
  color: #8e8e8e;
}

.footer-contents a:hover {
  text-decoration: none;
}

.footer-contents-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 2fr 1fr 1fr;
  font-size: 10px;
  width: 60%;
  margin: auto;
}

.footer-contents-2 a {
  color: #8e8e8e;
}
